.App {
  text-align: center;
  margin: auto;
  padding: 20px;
  background-color: #282c34;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 36px;
  margin-top: 0;
}

h2 {
  font-size: 24px;
  margin-top: 0;
}

button {
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.delete-btn {
  background-color: #4caf50;
  width: 57px;
  text-align: center;
}

.delete-btn:hover {
  background-color: #c9302c;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  color:  gray
}

#customers {
  color: white;
}

#customers:hover {
  color: black;
  background-color: lightgray
}

#apps {
  color: #282c34;
}

#apps:hover {
  color: black;
  background-color: lightgray
}

.customer-name {
  font-weight: bold;
}

#delete-img{
  width: 16px;
  margin-right: 5px;
  text-align: center;
}

.add-customer-form {
display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.add-customer-input {
  flex: 1;
  height: 19px;
  width: 75%;
  padding: 10px;
  border-radius: 5px 0 0 5px;
}

.add-customer-button {
  height: 40px;
  width: 100px;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  position: relative;
  width: 80%;
  max-width: 500px;
  max-height: 80%;
  overflow: auto;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: black;
} 

#refresh-img {
  width: 17px;
}

.refresh-btn {
  margin-bottom: 5px;
}

.refresh-btn:hover {
  background-color: lightblue
}

.app-name-input {
  flex: 1;
  height: 18px;
  width: 55%;
  padding: 10px;
  border-radius: 5px 0 0 5px;
}

.add-app-button {
  height: 40px;
  width: 100px;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.add-app-button:hover {
  background-color: blueviolet;
}

#td-buttons {
  text-align: end;
}